* text=auto !eol
/SMARTY2_BC_NOTES -text
libs/plugins/modifiercompiler.cat.php -text
libs/plugins/modifiercompiler.count_characters.php -text
libs/plugins/modifiercompiler.count_paragraphs.php -text
libs/plugins/modifiercompiler.count_sentences.php -text
libs/plugins/modifiercompiler.count_words.php -text
libs/plugins/modifiercompiler.default.php -text
libs/plugins/modifiercompiler.indent.php -text
libs/plugins/modifiercompiler.lower.php -text
libs/plugins/modifiercompiler.noprint.php -text
libs/plugins/modifiercompiler.string_format.php -text
libs/plugins/modifiercompiler.strip.php -text
libs/plugins/modifiercompiler.strip_tags.php -text
libs/plugins/modifiercompiler.upper.php -text
libs/plugins/modifiercompiler.wordwrap.php -text
libs/sysplugins/smarty_internal_cache.php -text
libs/sysplugins/smarty_internal_compile_break.php -text
libs/sysplugins/smarty_internal_compile_continue.php -text
libs/sysplugins/smarty_internal_compile_private_modifier.php -text
libs/sysplugins/smarty_internal_compile_private_registered_block.php -text
libs/sysplugins/smarty_internal_compile_private_registered_function.php -text
libs/sysplugins/smarty_internal_function_call_handler.php -text
libs/sysplugins/smarty_internal_nocache_insert.php -text
libs/sysplugins/smarty_internal_parsetree.php -text
libs/sysplugins/smarty_internal_register.php -text
libs/sysplugins/smarty_internal_resource_eval.php -text
libs/sysplugins/smarty_internal_templatecompilerbase.php -text
libs/sysplugins/smarty_internal_templateparser.php -text
libs/sysplugins/smarty_internal_unregister.php -text
libs/sysplugins/smarty_internal_utility.php -text
libs/sysplugins/smarty_internal_wrapper.php -text
