* text=auto !eol
/COPYING.lib -text
/INHERITANCE_RELEASE_NOTES.txt -text
/SMARTY_2_BC_NOTES.txt -text
/SMARTY_3.0_BC_NOTES.txt -text
/SMARTY_3.1_NOTES.txt -text
demo/plugins/cacheresource.apc.php -text
demo/plugins/cacheresource.memcache.php -text
demo/plugins/cacheresource.mysql.php -text
demo/plugins/resource.extendsall.php -text
demo/plugins/resource.mysql.php -text
demo/plugins/resource.mysqls.php -text
libs/SmartyBC.class.php -text
libs/plugins/modifiercompiler.cat.php -text
libs/plugins/modifiercompiler.count_characters.php -text
libs/plugins/modifiercompiler.count_paragraphs.php -text
libs/plugins/modifiercompiler.count_sentences.php -text
libs/plugins/modifiercompiler.count_words.php -text
libs/plugins/modifiercompiler.default.php -text
libs/plugins/modifiercompiler.escape.php -text
libs/plugins/modifiercompiler.from_charset.php -text
libs/plugins/modifiercompiler.indent.php -text
libs/plugins/modifiercompiler.lower.php -text
libs/plugins/modifiercompiler.noprint.php -text
libs/plugins/modifiercompiler.string_format.php -text
libs/plugins/modifiercompiler.strip.php -text
libs/plugins/modifiercompiler.strip_tags.php -text
libs/plugins/modifiercompiler.to_charset.php -text
libs/plugins/modifiercompiler.unescape.php -text
libs/plugins/modifiercompiler.upper.php -text
libs/plugins/modifiercompiler.wordwrap.php -text
libs/plugins/shared.literal_compiler_param.php -text
libs/plugins/shared.mb_str_replace.php -text
libs/plugins/shared.mb_unicode.php -text
libs/plugins/shared.mb_wordwrap.php -text
libs/sysplugins/smarty_cacheresource.php -text
libs/sysplugins/smarty_cacheresource_custom.php -text
libs/sysplugins/smarty_cacheresource_keyvaluestore.php -text
libs/sysplugins/smarty_config_source.php -text
libs/sysplugins/smarty_internal_compile_break.php -text
libs/sysplugins/smarty_internal_compile_continue.php -text
libs/sysplugins/smarty_internal_compile_private_modifier.php -text
libs/sysplugins/smarty_internal_compile_private_registered_block.php -text
libs/sysplugins/smarty_internal_compile_private_registered_function.php -text
libs/sysplugins/smarty_internal_compile_setfilter.php -text
libs/sysplugins/smarty_internal_function_call_handler.php -text
libs/sysplugins/smarty_internal_get_include_path.php -text
libs/sysplugins/smarty_internal_nocache_insert.php -text
libs/sysplugins/smarty_internal_parsetree.php -text
libs/sysplugins/smarty_internal_resource_eval.php -text
libs/sysplugins/smarty_internal_templatebase.php -text
libs/sysplugins/smarty_internal_templatecompilerbase.php -text
libs/sysplugins/smarty_internal_templateparser.php -text
libs/sysplugins/smarty_internal_utility.php -text
libs/sysplugins/smarty_resource.php -text
libs/sysplugins/smarty_resource_custom.php -text
libs/sysplugins/smarty_resource_recompiled.php -text
libs/sysplugins/smarty_resource_uncompiled.php -text
